* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: aliceblue;
    gap: 10px;
}

#products {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    gap: 20px;
}

#products div {
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    padding: 10px;
    border-radius: 10px;
}

#products div .buttonsDiv {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

#products div .buttonsDiv button {
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: blue;
    cursor: pointer;
}
